.container-5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 6rem 0;
  background-image: url(../../../assets/bg_bleu.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__row {
    display: flex;
    flex-direction: row;
  }
  &__h2 {
    font-family: "Oswald";
    font-size: 4rem;
    color: var(--black);
    text-align: center;
    width: 100%;
    background-image: url(../../../assets/bg_bleu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30rem;
    align-items: center;
    position: relative;

    &__data {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 30;
      width: 70%;
    }
    &__data__p-2 {
      font-size: 1.5rem;
      text-align: justify;
      font-family: "Oswald";
      font-weight: 400;
      width: max-content;
    }
    &__data__p-1 {
      font-size: 2rem;
      text-align: justify;
      font-family: "Oswald";
      font-weight: 600;
      width: 80%;
    }
  }
}

.container-5__content-2__chemin {
  width: 100%;
  height: 90%;
  padding: 4rem;
}
.container-5__content-2__cannette {
  position: absolute;
  z-index: 20;
  top: -19rem;
  left: -7rem;
  width: 130%;
  height: 130%;
}
