:root {
  /* default */
  /* colors */
  --green: #3f8f84;
  --black: #000000;
  --green-dark: #0d3f3e;
  --white: #ffffff;
  --mauve: #ad7fa1;

  --text-black: var(--black);
  --text-green-dark: var(--green-dark);
  --text-green: var(--green);
  --text-white: var(--white);
}

@mixin font-title {
  // title/bold //
  font-family: "Oswald";
  font-size: 64px;
  text-decoration: none;
  letter-spacing: normal;
}
