:root {
  /* default */
  /* colors */
  --neutral-black: #000000;
  --neutral-black-light: #555555;
  --neutral-white: #ffffff;
  --primary-brown: #573c2f;
  --primary-brown-light: #8f7d74;
  --primary-red: #ea6752;
  --primary-red-light: #f19a8c;
  --primary-yellow: #fecf44;
  --primary-yellow-light: #fedf82;

  --hover-btn-bg: var(--primary-red-light);
  --hover-btn-fg: var(--neutral-white);

  --primary-btn-bg: var(--primary-red);
  --primary-btn-fg: var(--neutral-white);

  --secondary-btn-bg: var(--neutral-white);
  --secondary-btn-fg: var(--primary-brown);

  --bag-btn-bg: var(--primary-red);
  --bag-btn-fg: var(--neutral-white);

  --bag-hover-btn-bg: var(--neutral-white);
  --bag-hover-btn-fg: var(--primary-red);

  --card-color-bg: var(--neutral-white);
  --card-color-fg: var(--primary-brown);

  --icon-primary: var(--neutral-white);
  --icon-secondary: var(--primary-brown);

  --label-primary-bg: var(--neutral-white);
  --label-primary-fg: var(--primary-red);
  --label-primary-stroke: var(--primary-red);

  --conteur-primary-bg: var(--primary-red-light);
  --conteur-primary-fg: var(--neutral-white);
  --conteur-primary-stroke: var(--primary-red);

  --nav-bg-primary: var(--neutral-white);
  --nav-bg-secondary: var(--primary-yellow-light);
}

@mixin font-title-bold {
  // title/bold //
  font-family: "Lexend Deca";
  font-weight: 700;
  font-size: 50px;

  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-title-medium {
  // title/medium //
  font-family: "Lexend Deca";
  font-weight: 500;
  font-size: 50px;

  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-title-titrage {
  // title/titrage //
  font-family: "Damion";
  font-weight: 400;
  font-size: 50px;

  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-texte-22px {
  // title/medium //
  font-family: "Lexend Deca";
  font-weight: 500;
  font-size: 22px;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-texte-16px {
  // btn/medium //
  font-family: "Lexend Deca";
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: normal;
}

@mixin font-texte-14px {
  // texte/medium //
  font-family: "Lexend Deca";
  font-weight: 500;
  font-size: 14px;

  text-decoration: none;
  letter-spacing: normal;
}

@mixin btncolor($background, $color) {
  background: $background;
  color: $color;
}
